# Reading from a Relational Database

## Using Psycopg2

In [1]:
import psycopg2
import pandas as pd

In [3]:
psycopg2.__version__

'2.8.6 (dt dec pq3 ext lo64)'

In [22]:
params = {
    "host": "127.0.0.1",
    "database": "postgres",
    "user": "postgres",
    "password": "password"
}

In [23]:
conn = psycopg2.connect(**params)
cursor = conn.cursor()

In [32]:
cursor.execute("""
SELECT date, last, volume
FROM yen_tbl
ORDER BY date;
""")

cursor.rowcount

10902

In [33]:
cursor.description

(Column(name='date', type_code=1082),
 Column(name='last', type_code=1700),
 Column(name='volume', type_code=1700))

In [34]:
columns = [col[0] for col in cursor.description]
columns

['date', 'last', 'volume']

In [25]:
data = cursor.fetchall()
df = pd.DataFrame(data, columns=columns)

In [18]:
df.head()

         date    last volume
0  1976-08-02  3401.0    2.0
1  1976-08-03  3401.0    0.0
2  1976-08-04  3401.0    0.0
3  1976-08-05  3401.0    0.0
4  1976-08-06  3401.0    0.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10902 entries, 0 to 10901
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10902 non-null  object
 1   last    10902 non-null  object
 2   volume  10902 non-null  object
dtypes: object(3)
memory usage: 255.6+ KB

In [20]:
cursor.close()

In [21]:
cursor