In [3]:
import pandas as pd
import numpy as np
import datetime as dt

In [6]:
# Create the range of dates here
seven_days = pd.date_range(start='2017-01-01', freq='D', periods=7)

# Iterate over the dates and print the number and name of the weekday
for day in seven_days:
    print(day.dayofweek, day.day_name())

6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday
5 Saturday

In [8]:
pd.DataFrame(data = {'dayofweek': day.dayofweek, 'day':  day.day_name()}, index = seven_days)

            dayofweek       day
2017-01-01          5  Saturday
2017-01-02          5  Saturday
2017-01-03          5  Saturday
2017-01-04          5  Saturday
2017-01-05          5  Saturday
2017-01-06          5  Saturday
2017-01-07          5  Saturday

In [9]:
# Import date
from datetime import date
# Create our dates
d1 = date(2017, 11, 5)
d2 = date(2017, 12, 4)
l = [d1, d2]
print(min(l))

2017-11-05

In [10]:
l

[datetime.date(2017, 11, 5), datetime.date(2017, 12, 4)]

In [12]:
print(d2-d1)

29 days, 0:00:00