## Generating Time Series Data

In [8]:
import pandas as pd
import numpy as np

In [9]:
dates = pd.date_range('1/10/2021', periods=100, freq='H')
sales = np.random.randint(100, 500, size=len(dates))

In [10]:
ts = pd.Series(data=sales, index=dates, name='sales')

In [11]:
ts.head()

2021-01-10 00:00:00    149
2021-01-10 01:00:00    352
2021-01-10 02:00:00    194
2021-01-10 03:00:00    470
2021-01-10 04:00:00    199
Freq: H, Name: sales, dtype: int64

In [12]:
ts.resample('D').last()

2021-01-10    175
2021-01-11    432
2021-01-12    102
2021-01-13    334
2021-01-14    406
Freq: D, Name: sales, dtype: int64

In [13]:
ts.resample('D').ohlc()

            open  high  low  close
2021-01-10   149   494  121    175
2021-01-11   160   498  110    432
2021-01-12   282   453  102    102
2021-01-13   439   497  225    334
2021-01-14   231   406  231    406