## Generating Time Series Data

In [37]:
import pandas as pd
import numpy as np

### Generating DateTimeIndex and Sales data

In [50]:
dates = pd.date_range(start='1/10/2021', periods=100, freq='H')
sales = np.random.randint(100, 500, size=len(dates))

In [39]:
dates[0:10]

DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19'],
              dtype='datetime64[ns]', freq='D')

#### Start date format examples

In [52]:
pd.date_range(start='1/10/2021', periods=10, freq='D')

DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start='1-10-2021', periods=10, freq='D')

DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range(start='10-JAN-2021', periods=10, freq='D')

DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range(start='2021-1-10', periods=10, freq='D')

DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19'],
              dtype='datetime64[ns]', freq='D')

### Creating our TS using `pd.Series`

In [43]:
ts = pd.Series(data=sales, index=dates, name='sales')

In [44]:
ts.head()

2021-01-10    222
2021-01-11    343
2021-01-12    316
2021-01-13    467
2021-01-14    100
Freq: D, Name: sales, dtype: int64

### Resampling

In [45]:
ts.resample('D').last()

2021-01-10    222
2021-01-11    343
2021-01-12    316
2021-01-13    467
2021-01-14    100
             ...
2021-04-15    163
2021-04-16    120
2021-04-17    196
2021-04-18    149
2021-04-19    270
Freq: D, Name: sales, Length: 100, dtype: int64

### Resampling with `ohlc`

In [49]:
print(ts.resample('D').ohlc())

            open  high  low  close
2021-01-10   222   222  222    222
2021-01-11   343   343  343    343
2021-01-12   316   316  316    316
2021-01-13   467   467  467    467
2021-01-14   100   100  100    100
...          ...   ...  ...    ...
2021-04-15   163   163  163    163
2021-04-16   120   120  120    120
2021-04-17   196   196  196    196
2021-04-18   149   149  149    149
2021-04-19   270   270  270    270

[100 rows x 4 columns]

### Example using frequency string with multiples

In [47]:
pd.date_range(start='1/10/2021', periods=10, freq='2D')

DatetimeIndex(['2021-01-10', '2021-01-12', '2021-01-14', '2021-01-16',
               '2021-01-18', '2021-01-20', '2021-01-22', '2021-01-24',
               '2021-01-26', '2021-01-28'],
              dtype='datetime64[ns]', freq='2D')